## Definition

In [ ]:
- collection of characters enclosed with single quotes or double quotes or triple single quotes
- immutable
- ordered
- can contain duplicates
- no single quote/quotes within single quotes
- no double quote/quotes within double quotes

In [1]:
string = "This is a string"
string

'This is a string'

In [2]:
string = 'This is a string'
string

'This is a string'

In [3]:
string = '''This is a string'''
string

'This is a string'

In [4]:
string = '''This is a 
            string'''
string

'This is a \n            string'

In [5]:
string = '''This is my 
string'''
print(string)

This is my
string

In [6]:
string = 'this"is my"class'
string

'this"is my"class'

In [7]:
string = "this'is my'class"
string

"this'is my'class"

In [8]:
string = 'this"is my"class'
print(string)

this"is my"class

In [9]:
string = "this'is my'class"
print(string)

this'is my'class

In [10]:
string = "It's my class"
print(string)

It's my class

### empty string/null string

In [19]:
string = str()
print(string)
type(string)

str

In [ ]:
string = ''
string = ""

In [ ]:
string = ' '

### white spaces

In [ ]:
- new line -> '\n'
- one or more spaces -> ' '
- tab -> '\t'

### escape characters

In [ ]:
\t
\n
\r -> return carriage

In [2]:
string = 'Its\'s my class'
print(string)

Its's my class

In [3]:
string = "Indian supercomputer name begins with \"Param\" like Paramshavak."
print(string)

Indian supercomputer name begins with "Param" like Paramshavak.

In [4]:
string = 'abcd\txyz'
string

'abcd\txyz'

In [5]:
string = 'abc\nxyz'
print(string)

abc
xyz

In [6]:
string = '1234567\rbbb'
print(string)

bbb4567

In [7]:
string = '1234567\rbbb'
print(string)

bbb4567

### iterator over string

In [9]:
string = '1234567890abcdefgh'
for i in string:
    print(i, end = '-')

1-2-3-4-5-6-7-8-9-0-a-b-c-d-e-f-g-h-

In [10]:
string = '1234567890abcdefgh'
for i in range(len(string)):
    print(string[i], end = '-')

1-2-3-4-5-6-7-8-9-0-a-b-c-d-e-f-g-h-

### String formatting

In [ ]:
1. .format()
2. f''
3. format specifier

#### format()

In [26]:
age = 22
marks = 89
print('Age =', age, 'Marks =', marks)

Age = 22 Marks = 89

In [27]:
print('Age = {}, Marks = {}'.format(age, marks))

Age = 22, Marks = 89

In [28]:
print('Age = {}, Marks = {}, {}, {}'.format(age, marks, age, [1, 2, 3, 4]))

Age = 22, Marks = 89, 22, [1, 2, 3, 4]

#### f-string

In [29]:
print(f'Age = {age}, Marks = {marks}, {999}, {"CBP"}')

Age = 22, Marks = 89, 999, CBP

### format specifier

In [ ]:
int   - %d
float - %f
str   - %s

In [31]:
print('Age = %d, Marks = %d'%(age, marks))

Age = 22, Marks = 89

In [32]:
name = 'ABC'
percentage = 89.89
print('Name = %s, percentage = %f'%(name, percentage))

Name = ABC, percentage = 89.890000

### raw string

In [47]:
abc = 'hello\nworld'
print(abc)

hello
world

In [48]:
abc = r'hello\nworld'
print(abc)

hello\nworld

In [49]:
string = 'hello\tworld'
print(string)

hello	world

In [50]:
string = r'hello\tworld'
print(string)

hello\tworld

### Type casting

In [33]:
st = '1'
int(st)

1

In [34]:
st = '1234'
int(st)

1234

In [36]:
st = '7.89123'
float(st)

7.89123

In [51]:
st = '7.89123'
int(st)

ValueError: invalid literal for int() with base 10: '7.89123'

In [37]:
st ='7.89123'
int(float(st))

7

In [38]:
num = 123
str(num)

'123'

In [39]:
num = 3.1345
str(num)

'3.1345'

### concatenation

In [40]:
str1 = 'ABC'
str2 = '123'
str3 = str1 + str2
str3

'ABC123'

In [41]:
str1 = 'ABC'
str2 = '123'
str3 = str2 + str1
str3

'123ABC'

In [44]:
str1 = 'ABC'
str2 = '123'
print(id(str1))
str1 = str1 + str2
print(id(str1))
str1

127186363470064
127185885824688

'ABC123'

In [45]:
string = 'str' * 4
string

'strstrstrstr'

In [46]:
string = 'str' * 4
print(string)

strstrstrstr

In [52]:
string = '*' * 4
string

'****'

In [53]:
for i in range(7):
    for j in range(i):
        print('*', end = '')
    print()

*
**
***
****
*****
******

In [54]:
for i in range(7):
    print('*'*i, end = '')
    print()

*
**
***
****
*****
******

In [55]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [1]:
a = 'abcdefg'
del a[1]
a

TypeError: 'str' object doesn't support item deletion

### enumerate()

In [56]:
string = 'abcdefgh'
for i, v in enumerate(string):
    print(f'Character {v} is present as index {i}')

Character a is present as index 0
Character b is present as index 1
Character c is present as index 2
Character d is present as index 3
Character e is present as index 4
Character f is present as index 5
Character g is present as index 6
Character h is present as index 7

## Indexing

#### postive

In [57]:
string = '0123456789'
for i in range(len(string)):
    print(string[i], end = ' ')

0 1 2 3 4 5 6 7 8 9

#### negative

In [2]:
string = '0123456789'
for i in range(-1, -len(string)-1, -1):
    print(string[i], end = ' ')

9 8 7 6 5 4 3 2 1 0

In [3]:
string = '0123456789'
for i in range(-1, -len(string)-1, -1):
    print(string[i], end = ' ')

9 8 7 6 5 4 3 2 1 0

In [4]:
string[-10]

'0'

### Slicing

In [ ]:
string[ start_index : end_index : step_size]
start_index-> default = 0
end_index-> default = length of object
step_size-> default = 1

In [5]:
string = '0123456789'
string[3:8:]

'34567'

In [6]:
string = "Indian supercomputer names begins with \"Param\" like Paramshavak."
len(string)

64

In [7]:
string[4:50:4]

'aucu eestPmi'

In [8]:
string[::-1]

'.kavahsmaraP ekil "maraP" htiw snigeb seman retupmocrepus naidnI'

In [9]:
string[45:13:-3]

'"r"t ibenep'

### string functions

In [11]:
string = 'Guwahati is the largest city of the Indian state of \
Assam and also the largest metropolis in northeastern India.'
print(string)

Guwahati is the largest city of the Indian state of Assam and also the largest metropolis in northeastern India.

### capitalize()

######          -capitalize first chharacter of whole string
######         -rest of the characters converted to lower case if they are in upper case

In [12]:
string.capitalize()

'Guwahati is the largest city of the indian state of assam and also the largest metropolis in northeastern india.'

### title()

###### -changes first character to capital for each word in string separated by space
###### -rest of the characters converted to lower case if they are in upper case

In [13]:
string.title()

'Guwahati Is The Largest City Of The Indian State Of Assam And Also The Largest Metropolis In Northeastern India.'

In [14]:
'ABcc asbh'.title()

'Abcc Asbh'

### upper()

In [15]:
string.upper()

'GUWAHATI IS THE LARGEST CITY OF THE INDIAN STATE OF ASSAM AND ALSO THE LARGEST METROPOLIS IN NORTHEASTERN INDIA.'

In [16]:
abc = 'ABCefghIJ'
abc.upper()

'ABCEFGHIJ'

### lower()

In [17]:
string.lower()

'guwahati is the largest city of the indian state of assam and also the largest metropolis in northeastern india.'

In [18]:
xyz = 'EFGHIJKLM'
xyz.lower()

'efghijklm'