In [ ]:
syntax
tup1 = (value1, value2, .........)

     - comma separated value
     - enclosed within round bracket ()
     - Immutable
     - Heterogenous
     - Ordered
     - can contain duplicates
     - Iterable

## Assign values to tuples

### empty tuple

In [4]:
tup1 = ()
tup1

()

In [5]:
tup2 = tuple()
tup2

()

### assign values

In [7]:
tup3 = (1, 2, 3, 4)
tup3

(1, 2, 3, 4)

In [8]:
tup4 = (3)
type(tup4)

int

In [9]:
tup4 = tuple((1, 2, 3, 4, 5))
tup4

(1, 2, 3, 4, 5)

In [12]:
tup5 = tuple((1,))

In [13]:
tup4 = (3)
type(tup4)

int

In [15]:
tup4 = (3,)
type(tup4)

tuple

In [16]:
tup4 = (3)
print(type(tup4))
tup5 = tuple(tup4) 
type(tup5)

<class 'int'>

TypeError: 'int' object is not iterable

In [17]:
tup6 = tuple(1,2,3,4,5)

TypeError: tuple expected at most 1 argument, got 5

In [18]:
tup6 = tuple(   (1,2,3,4,5)    )

In [19]:
tup6 = tuple(   [1,2,3,4,5]    )

In [20]:
print(tup6)

(1, 2, 3, 4, 5)

In [21]:
list1 = [i for i in range(9)]
print(list1)
tup1 = tuple(list1)
print(tup1)

[0, 1, 2, 3, 4, 5, 6, 7, 8]
(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [22]:
##############################################################
tup1 = (i for i in range(9))
tup1 = tuple(tup1)
type(tup1)
##############################################################

tuple

In [23]:
f = 3.14
print(type(f))

<class 'float'>

In [24]:
z = int(f)
print(type(z))

<class 'int'>

In [25]:
tuple1 = (0, 1, 2, 3, 4, 5, 6, 7, 8)
list1 = list(tuple1)
print(type(list1))
list1

<class 'list'>

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
cities = ('Kolkata', 'Chennai', 'Bhopal')
print(cities)

('Kolkata', 'Chennai', 'Bhopal')

In [27]:
city_list = list(cities)
city_list

['Kolkata', 'Chennai', 'Bhopal']

In [28]:
tuple1 = (1, 3.55, 'ABC', 3+4j) # heterogenous data types

In [29]:
tuple1

(1, 3.55, 'ABC', (3+4j))

In [30]:
for i in tuple1:
    print(i)

1
3.55
ABC
(3+4j)

In [31]:
for var in tuple1:
    print(var)

1
3.55
ABC
(3+4j)

In [32]:
for i in range(len(tuple1)):
    print(tuple1[i], end = ' ')

1 3.55 ABC (3+4j)

In [33]:
import sys
l = [1,2,3,4,5,6,7,8,9,10]
t = (1,2,3,4,5,6,7,8,9,10)
print(l)
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [35]:
print('list size =', sys.getsizeof(l))
print('tuple size =', sys.getsizeof(t))

list size = 136
tuple size = 120

## tuple functions
### index()

In [ ]:
tupleObj.index()

In [36]:
tup = (1,2,3,4,5,6,7)
tup.index(3)

2

In [37]:
fruits = ('Apple', 'Orange', 'Banana', 'Grapes')
fruits.index('Orange')

1

### count()

In [38]:
numbers = [3,7,3,5,3,9,2,7,0,4]
numbers.count(3)

3

In [39]:
numbers.count(7)

2

### len()

In [40]:
len(numbers)

10

### sorted

In [41]:
sorted(numbers)

[0, 2, 3, 3, 3, 4, 5, 7, 7, 9]

In [48]:
numbers = (3,7,3,5,3,9,2,7,0,4)
numbers.sort()
numbers

AttributeError: 'tuple' object has no attribute 'sort'

### reversed()

In [44]:
reversed(numbers)

In [45]:
tuple(reversed(numbers))

(4, 0, 7, 2, 9, 3, 5, 3, 7, 3)

### max()

In [46]:
max(numbers)

9

### min

In [47]:
min(numbers)

0

### sum()

In [49]:
sum(numbers)

43

### list vs tuple time consuming

In [54]:
import time
list1 = [i for i in range (10**7)]
l1 = list1
t1 = tuple(list1)
end = time.time()
print(end - begin)

2.6640655994415283

In [1]:
import time
list1 = [i for i in range(10**7)]
l1 = list1
t1 = tuple(list1)
###################################################
begin = time.time()
for i in l1:
    i = 0
end = time.time()
print('list time ', end - begin)
###################################################
begin = time.time()
for i in t1:
    i = 0
end = time.time()
print('tuple time', end - begin)
###################################################

list time  0.26628684997558594
tuple time 0.2688438892364502