In [ ]:
Functions
- Used for wrting subtaks
- function can have zero or more return statement
- functions can have zero or more parameters

In [4]:
def funname():
    line1
    line2
    line3
    return

In [ ]:
syntax

def funname():
    line1
    line2
line3

In [5]:
def abc():
    pass

In [6]:
abc()

In [7]:
def abc():
    print('I am in functions block')

In [8]:
abc()

I am in functions block

In [9]:
def abc():
    print('I am in functions block')

abc()

I am in functions block

In [10]:
abc123()

def abc123():
    print('I am in functions block')

NameError: name 'abc123' is not defined

In [11]:
def abc123():
    print('I am in functions block')
    
abc123()

I am in functions block

In [12]:
def abc123():
    print('I am in functions block')
    
print(abc123)

<function abc123 at 0x779ee86ed900>

In [13]:
def abc123():
    print('I am in functions block')
    
print(abc123())

I am in functions block
None

In [14]:
def abc123(): # execute this code on terminal using python interpreter
    print('I am in functions block')
    return "This is my return statement"
    
abc123()

I am in functions block

'This is my return statement'

In [15]:
def abc123(): # execute this code on terminal using python interpreter
    print('I am in functions block')
    return "This is my return statement"
    
print(abc123())

I am in functions block
This is my return statement

In [ ]:
def xyz(): # this cell has not been executed
    print('in xyz')

In [16]:
xyz()

NameError: name 'xyz' is not defined

In [17]:
def xyz():
    print('in xyz')

In [18]:
xyz()

in xyz

In [19]:
def xyz():
    print('in xyz')

xyz()

in xyz

### Function with argument/parameter

In [20]:
def fun1(num):
    print(num, type(num))

fun1(123)

123 <class 'int'>

In [21]:
def fun1(num):
    print(num, type(num))

fun1(123.456)

123.456 <class 'float'>

In [22]:
def fun1(num):
    print(num, type(num))

fun1(['abc', '123'])

['abc', '123'] <class 'list'>

In [23]:
def fun1(num):
    print(num, type(num))

fun1('string line')

string line <class 'str'>

In [24]:
def divide(divident, divisor):
    print(divident// divisor)
    
divide(444, 4)

111

In [25]:
def divide(divident, divisor):
    print(divident// divisor)
    
divide(444, 4)

111

In [26]:
def divide(divident, divisor):
    print(divident // divisor)
    
divide('abc', 'xyz')

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [27]:
def divide(divident, divisor):
    print(divident // divisor)
    
divide([1,2,3], (11,22,33))

TypeError: unsupported operand type(s) for //: 'list' and 'tuple'

In [28]:
def sum(num1, num2):
    print(num1 + 2)
    
sum(1,2)

3

In [29]:
def sum(num1, num2):
    print(num1 + num2)
    
sum('Cdac','Silchar')

CdacSilchar

In [30]:
def sum(num1, num2):
    print(num1 + '-' + num2)
    
sum('Cdac','Silchar')

Cdac-Silchar

In [31]:
def sum(num1, num2):
    print(num1 + '-' + num2)
    
sum(11,22)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
def sum(num1, num2):
    print(num1 + num2)
    
sum([11],[22])

[11, 22]

In [33]:
def sum(num1, num2):
    print(num1 + num2)
    
sum([1,2,3,4],[11,22,33,44])

[1, 2, 3, 4, 11, 22, 33, 44]

In [35]:
def my_print(variable):
    for item in variable:
        print(item, '->', type(item))

my_print('Cdac-Silchar')

C -> <class 'str'>
d -> <class 'str'>
a -> <class 'str'>
c -> <class 'str'>
- -> <class 'str'>
S -> <class 'str'>
i -> <class 'str'>
l -> <class 'str'>
c -> <class 'str'>
h -> <class 'str'>
a -> <class 'str'>
r -> <class 'str'>

In [36]:
my_print( [1,2,3,4,5,6,7] )

1 -> <class 'int'>
2 -> <class 'int'>
3 -> <class 'int'>
4 -> <class 'int'>
5 -> <class 'int'>
6 -> <class 'int'>
7 -> <class 'int'>

In [38]:
states = ['Asaam', 'Rajasthan', 'Bangalore', 'Hyderabad']
my_print(states)

Asaam -> <class 'str'>
Rajasthan -> <class 'str'>
Bangalore -> <class 'str'>
Hyderabad -> <class 'str'>

In [57]:
list1 = [11,22,33,44]
for  i in list1:
    print(i)

11
22
33
44

In [61]:
list1 = 2
for i in list1:
    print(i)

TypeError: 'int' object is not iterable

In [58]:
list1 = 2
for i in range(list1):
    print(i)

0

0
1

0

In [60]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1(11,77)

first = 11, second = 77

In [62]:
def fun_1(num1, num2):
    print(f'first = {num1}, second = {num2}')
fun_1([11,77], ['aaa', 'bbb'])

first = [11, 77], second = ['aaa', 'bbb']

In [ ]:
def fuN-!(num1, num2):

    print(f'first = [num!}, second = {num2]')

fun_1()

In [64]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Result shud be placed in list. Print the list at the end.

import math
def task():
    list1 = []
    for i in range(5):
        list1. append(random.randint(1000,9999))

    print('Before Subrtacting')
    print(list1)
    
    for i in range(5):
        list1[i] = list1[i] - 333

    print('After Subtracting')
    print(list1)

task()

Before Subrtacting
[2909, 7128, 6608, 6263, 2197]
After Subtracting
[2576, 6795, 6275, 5930, 1864]

In [65]:
list1 = []
for i in range(5):
    list1.append(7)
list1

[7, 7, 7, 7, 7]

In [66]:
list1 = []
for i in range(5):
    list1.append(i)
list1

[0, 1, 2, 3, 4]

In [67]:
list1 = []
for i in range(5):
    list1.append('Amarsingh')
list1

['Amarsingh', 'Amarsingh', 'Amarsingh', 'Amarsingh', 'Amarsingh']

In [68]:
import random
var = random.randint(1000, 9999)
var

3718

### return

    -it shud be last statement
    -not complusary to hv return to function
    -can return multiple return values
    -anyting written after return statement is unereachable code

In [69]:
def fun_2():
    return 2323
fun_2()

2323

In [70]:
def fun_2():
    return 2323
    print('fjhdfdhjk') # unreachbale code
fun_2()

2323

In [71]:
def fun_2():
   return 'ABC' 
fun_2()

'ABC'

In [72]:
def fun_2():
   return ['ABC', 'XYZ', 'PQR'] 
fun_2()

['ABC', 'XYZ', 'PQR']

In [73]:
def fun3(num1, num2):
    return num1+num2

fun3(444,555)

999

In [74]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list

import random
def task():
    list1 = []
    for i in range(5):
        list1.append(random.randint(1000,9999))
    
    print('Before substracing')
    print(list1)
    
    for i in range(5):
        list1[i] = list1[i] - 333
    
    return list1


output = task()
print('After substracing')
print(output)

Before substracing
[4563, 6687, 5376, 3027, 9084]
After substracing
[4230, 6354, 5043, 2694, 8751]

In [75]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list

import random
def task():
    list1 = []
    print('Before substracing')
    for i in range(5):
        list1.append(random.randint(1000,9999) - 333)
    

    print(list1)
    
#     for i in range(5):
#         list1[i] = list1[i] - 333
    
    return list1


output = task()
print('After substracing')
print(output)

Before substracing
[6140, 3824, 2895, 2932, 5047]
After substracing
[6140, 3824, 2895, 2932, 5047]

In [92]:
# Write a function which generates 4-digit 5 numbers & substract 333 from all.
# Return output in the form of list.

import random
def task():
    return [random.randint(1000,9999)-333 for i in range(5)]
           #[random.randint(1000,9999)-333 for i in range(5)]

output = task()
print('After substracting')
print(output)

After substracting
[5929, 4731, 3984, 6305, 3195]

In [93]:
[ 7 for i in range(5)]

[7, 7, 7, 7, 7]

In [94]:
[ i for i in range(5)]

[0, 1, 2, 3, 4]

In [95]:
[random.randint(1000,9999) for i in range(5)]

[8213, 8765, 2536, 9357, 5586]

In [96]:
[random.randint(1000,9999)-333 for i in range(5)]

[2409, 8329, 8951, 4305, 7759]

In [97]:
# Write a function which takes 2 arguments start and end (both included).
# Return list with first 5 values and last 5 values and substract 1 from them
# for the range of numbers start to end.


def task2(start, end):
    result = []
    for i in range(start, start+5):
        result.append(i)
#     print(result)
    for i in range(end, end - 5, -1):
        result.append(i)
#     print(result)
    for i in range(10):
        result[i] = result[i] - 1
    return result

task2(7, 35)

[6, 7, 8, 9, 10, 34, 33, 32, 31, 30]

In [98]:
task2(123,676)

[122, 123, 124, 125, 126, 675, 674, 673, 672, 671]

In [99]:
# Write a function which takes 2 arguments start and end (both included).
# Return list with first 5 values and last 5 values and substract 1
# from them for the range of numbers start to end.


def task2(start, end):
    result = []
    for i in range(start, start+5):
        result.append(i)
#     print(result)
    for i in range(end, end - 5, -1):
        result.append(i)
#     print(result)
    return [i-1 for i in result]

task2(7, 35)

[6, 7, 8, 9, 10, 34, 33, 32, 31, 30]

In [56]:
fullform = ['Madhya Pradesh', 'uttar pradesh', 'Electoral directorate']
fullform

['Madhya Pradesh', 'uttar pradesh', 'Electoral directorate']

In [100]:
fullform = ['Madhya Pradesh', 'uttar pradesh',
            'Electoral directorate',
            'central bureau Of investigation']
fullform

['Madhya Pradesh',
 'uttar pradesh',
 'Electoral directorate',
 'central bureau Of investigation']

In [101]:
def short_form(variable):
    for var in variable:
        temp_list = var.split()
        for i in temp_list:
            if i.lower() != 'of':
                print(f'{i[0].upper()}.', end = '')
        print()
            

short_form(fullform)

M.P.
U.P.
E.D.
C.B.I.

In [103]:
def first_two_letters(cities):
    result = []
    for i in cities:
        result.append(i[0:2])



cities = ['Kohima', 'Bhubaneswar', 'Chandigarh', 'Jaipur',
          'Gangtok', 'Chennai', 'Hyderabad',
          'Agartala', 'Lucknow', 'Dehradun', 'Kolkata']
first_two_letters(cities)
cities

['Kohima',
 'Bhubaneswar',
 'Chandigarh',
 'Jaipur',
 'Gangtok',
 'Chennai',
 'Hyderabad',
 'Agartala',
 'Lucknow',
 'Dehradun',
 'Kolkata']

In [ ]:
# output = ['Ko', 'Bh', 'Ch', 'Ja', 'Ga', 'Ch', 'Hy', 'Ag', 'Lu', 'De', 'Ko']

In [111]:
def first_two_letters(cities):
    result = []
    for i in cities:
        result.append(i[0:2])
    return result



cities = ['Kohima', 'Bhubaneswar', 'Chandigarh', 'Jaipur',
          'Gangtok', 'Chennai', 'Hyderabad',
          'Agartala', 'Lucknow', 'Dehradun', 'Kolkata']
first_two_letters(cities)

['Ko', 'Bh', 'Ch', 'Ja', 'Ga', 'Ch', 'Hy', 'Ag', 'Lu', 'De', 'Ko']

In [112]:
# write a function to return sum of list elements.
def my_sum(variable):
    sum1 = 0
#     print('In my Function', variable)
    for i in variable:
        sum1 = sum1 + i
    print(sum1)
    

# list1 = [11,22,33,44,55,66,77,88,99]
list1 = [i for i in range(1,11)]
my_sum(list1)

55

In [114]:
# write a function to return sum of list elements.
def my_sum(variable):
    return sum(variable)
    
# list1 = [11,22,33,44,55,66,77,88,99]
list1 = [i for i in range(1,11)]
print(my_sum(list1))

TypeError: sum() missing 1 required positional argument: 'num2'

In [ ]:
# list1 = [111,222,333,444,555,666,777,888,999]
result = []
for i in range(1,10):
    result.append(triplet(i))
result

In [ ]:
[var*111 for var in range(1,10)]

In [ ]:
def hectic_task():
    return [var*111 for var in range(1,10)]
hectic_task()

In [ ]:
def hectic_task():
    return [triplet(var) for var in range(1,10)]
hectic_task()

In [115]:
def triplet(num):
    return num*111

In [116]:
triplet(2)

222

In [117]:
triplet(6)

666

In [118]:
def hectic_task_modified():
    return [triplet_modified(var) for var in range(1,10)]

def triplet_modified(num):
    return num*111

hectic_task_modified()

[111, 222, 333, 444, 555, 666, 777, 888, 999]

In [119]:
def hectic_task_modified():
    return [triplet_modified(var) for var in range(1,10)]

def triplet_modified(num):
    return num*111

hectic_task_modified()

[111, 222, 333, 444, 555, 666, 777, 888, 999]

In [120]:
def table(num):
    for i in range(1, 11):
        print(f'{num} * {i} = {num*i}')
#     print(f'{num} * 2 = {num*2}')
#     print(f'{num} * 3 = {num*3}')

var = input('Enter number')
table(int(var))

Enter number 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [105]:
def table(num):
    for i in range(1, 11):
        print(f'{num} * {i} = {num*i}')
table(4)

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [106]:
def table(num):
    for i in range(1, 11):
        print(f'{num} * {i} = {num*i}')
var = input('Enter number')
table(int(var))

Enter number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [121]:
# write a function to return product of list elements.
def my_product(variable):
    product1 = 1
#     print('In my Function', variable)
    for i in variable:
        product1 = product1 * i
    print(product1)    

# list1 = [11,22,33,44,55,66,77,88,99]
list1 = [i for i in range(1,6)]
# print(list1)
my_product(list1)

120

In [122]:
# write a function to return product of list elements.
def factorial(num):
    product1 = 1
    list1 = [i for i in range(1,num+1)]
    for i in list1:
        product1 = product1 * i
    print(product1)    


factorial(5)

120

In [110]:
#swap
a,b = 11,55
print(a,b)

11 55

In [109]:
#swap
a,b = b,a
print(a,b)

11 55

In [123]:
print(f'before swap a = {a}, b = {b}')
a, b = b, a
print(f'after swap  a = {a}, b = {b}')

before swap a = 11, b = 55
after swap  a = 55, b = 11

In [124]:
a,b = 11,55
print(f'before swap a = {a}, b = {b}')
temp = a
a, b = b, a
print(f'after swap  a = {a}, b = {b}')

before swap a = 11, b = 55
after swap  a = 55, b = 11

In [125]:
a,b = 11,55
print(f'before swap a = {a}, b = {b}')
temp = a
a = b
b = temp
print(f'after swap  a = {a}, b = {b}')

before swap a = 11, b = 55
after swap  a = 55, b = 11

In [ ]:
a,b = 11,55
print(f'before swap a = {a}, b = {b}')
temp = a
a = b
b = temp
print(f'after swap  a = {a}, b = {b}')

In [126]:
a,b = 11,55
print(f'before swap a = {a}, b = {b}')
a = a + b
b = a - b
a = a - b
print(f'after swap  a = {a}, b = {b}')

before swap a = 11, b = 55
after swap  a = 55, b = 11

In [127]:
string = 'Abc, xyz.'
string = string.replace(',', '.')
print(string)
string = string.replace('.',',')
print(string)

Abc. xyz.
Abc, xyz,

In [128]:
string = 'Abc, xyz.'
strange_string = 'Himalayas'
string = string.replace(',', strange_string)
# print(string)
string = string.replace('.', ',')
# print(string)
string = string.replace(strange_string, '.')
print(string)

Abc. xyz,

In [129]:
def swap_dot_comma(string):
    print('before swap->', string)
    strange_string = 'HHH'
    string = string.replace(',', strange_string)
    # print(string)
    string = string.replace('.', ',')
    # print(string)
    string = string.replace(strange_string, '.')
    print('after swap-> ', string)
    
swap_dot_comma('Abc, xyz.')

before swap-> Abc, xyz.
after swap->  Abc. xyz,